header{
    max-width: 600px;
    height: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}

h2{
    color: darkred;
}

#welcomepage{
    max-width: 600px;
    height: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    position: absolute;
}

.form{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#cont1 {
    max-width: 600px;
    background: yellowgreen;
}

#cont2 {
    max-width: 600px;
    background-color: palevioletred;
}

#cont3 {
    max-width: 600px;
    background-color: lightsalmon;
}

#cont4 {
    background-color: yellow;
}

#cont5 {
    background-color: lightskyblue;
}

#cont6 {
    background-color: palevioletred;
}

#surveysummaryandsubmission {
    max-width: 1450px;
    height: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
}

p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

h5{
    max-width: 600px;
    height: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.ui-progressbar {
    position: relative;
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
}
.progress-label {
    position: absolute;
    left: 10%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

/* Survey Indicator Bar */
#bar1{
    width: 100px;
    height: 50px;
    background: red;

    /* Standard syntax */
    transition-property: width, background,font-size;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
}

#bar1:target {
    width: 300px;
    background:blue;
    font-size:40px;

}

#bar2{
    width: 100px;
    height: 50px;
    background: red;

    /* Standard syntax */
    transition-property: width, background,font-size;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
}

#bar2:target {
    width: 300px;
    background:blue;
    font-size:40px;

}

.indicatorbar{

    justify-content:center;
}

.indicators{
    display: flex;
    justify-content:center;
}



/* Slicebox Style */


.container{
    position: static;

}



.sb-slider {
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    list-style-type: none;
    padding: 0;
}

.sb-slider li {
    margin: 0;
    padding: 0;
    display: none;
}

.sb-slider li > a {
    outline: none;
}

.sb-slider li > a img {
    border: none;
}

.sb-slider img {
    max-width: 100%;
    display: block;
}

.sb-description {
    padding: 20px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    z-index: 1000;
    position: absolute;
    background: #CBBFAE;
    background: rgba(190,176,155, 0.4);
    border-left: 4px solid rgba(255,255,255,0.7);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    color: #fff;

    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transition: all 200ms;
    -ms-transition: all 200ms;
    transition: all 200ms;
}

.sb-slider li.sb-current .sb-description {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: 1;
}

.sb-slider li.sb-current .sb-description:hover {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
    filter: alpha(opacity=99);
    background: rgba(190,176,155, 0.7);
}

.sb-perspective {
    position: relative;
}

.sb-perspective > div {
    position: absolute;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-backface-visibility : hidden;
    -moz-backface-visibility : hidden;
    -o-backface-visibility : hidden;
    -ms-backface-visibility : hidden;
    backface-visibility : hidden;
}

.sb-side {
    margin: 0;
    display: block;
    position: absolute;

    -moz-backface-visibility : hidden;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.shadow {
    width: 100%;
    height: 168px;
    position: relative;
    margin-top: -110px;
    background: transparent url(../volunteerhome_images/shadow.png) no-repeat bottom center;
    background-size: 100% 100%; /* stretches it */
    z-index: -1;
    display: none;
}

.wrapper {
    position: relative;
    max-width: 840px;
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
}