header{
    max-width: 600px;
    height: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}

h2{
    color: darkred;
}

#welcomepage{
    max-width: 600px;
    height: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    position: absolute;
}

.form{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#cont1 {
    max-width: 600px;
    background: yellowgreen;
}

#cont2 {
    max-width: 600px;
    background-color: palevioletred;
}

#cont3 {
    max-width: 600px;
    background-color: lightsalmon;
}

#cont4 {
    background-color: yellow;
}

#cont5 {
    background-color: lightskyblue;
}

#cont6 {
    background-color: palevioletred;
}

#surveysummaryandsubmission {
    max-width: 1450px;
    height: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
}

p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

h5{
    max-width: 600px;
    height: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.ui-progressbar {
    position: relative;
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
}
.progress-label {
    position: absolute;
    left: 10%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

/* Survey Indicator Bar */
#bar1{
    width: 100px;
    height: 50px;
    background: red;

    /* Standard syntax */
    transition-property: width, background,font-size;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
}

#bar1:target {
    width: 300px;
    background:blue;
    font-size:40px;

}

#bar2{
    width: 100px;
    height: 50px;
    background: red;

    /* Standard syntax */
    transition-property: width, background,font-size;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
}

#bar2:target {
    width: 300px;
    background:blue;
    font-size:40px;

}

.indicatorbar{

    justify-content:center;
}

.indicators{
    display: flex;
    justify-content:center;
}