header{
    max-width: 600px;
    height: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}

h2{
    color: darkred;
}

main{
    max-width: 600px;
    height: 500px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#welcomepage{
    background-color: aliceblue;
    position: absolute;
}

.form{
    display: none;
}

#cont1 {
    background: yellowgreen;
}
#cont2 {
    background-color: palevioletred;
}

#cont3 {
    background-color: lightsalmon;
}

#cont4 {
    background-color: yellow;
}

#cont5 {
    background-color: lightskyblue;
}

#cont6 {
    background-color: palevioletred;
}

#cont7 {

    height: auto;
    margin-right: auto;
    margin-left: auto;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h5{
    max-width: 600px;
    height: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.ui-progressbar {
    position: relative;
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
}
.progress-label {
    position: absolute;
    left: 10%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}