body{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    padding: 10px 10px 10px 10px;
}

#logo{
    max-width: 200px;
}

/* header, main and footer*/
.container{
    border: dotted;
    padding: 10px 10px 10px 10px;
    display: flex;
}

/* contents section of main*/
.container-content{
    display: flex;
    flex-direction: column;
    padding: 30px 30px 30px 30px;
    background-color: red;
}

.bugitem{
    padding: 30px 30px 30px 30px;
    background-color: #4CAF50;
}

/* navigation section of main*/
.container-nav{
    border: dotted;
    font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: inline-block;

    padding: 0 10px 10px 10px;
    text-decoration: none;
    margin: 5px;
}

.title{
    font-size: 20px;
    font-weight: bold;
    padding: 0px 0px 10px 0px;
}

form{
    display: flex;
    flex-direction: column;
}

.category{
    font-style: italic;
}

p{
    padding: 0 10px 10px 10px;
}
