body{
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

#filedsethead{
    display: flex;
}

#filedsetnav{
    height: 500px;
padding: 0px;
}

#filedsetcontent{
    max-width: 500px;
}

main{
    display: flex;
    max-width: 650px;
}
#logo{
    max-width: 150px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: inline-block;
    text-align: center;
    padding: 0 10px 10px 10px;
    text-decoration: none;
    margin: 5px;

}

form{
    display: flex;
    flex-direction: column;
}
p{
    padding: 0 10px 10px 10px;
}