body{
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    padding: 10px 10px 10px 10px;
}

.container{
    border: dotted;
    padding: 10px 10px 10px 10px;
    display: flex;
}

#logo{
    max-width: 150px;
}

#nav{
    height: 500px;
    border: dotted;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: inline-block;
    text-align: center;
    padding: 0 10px 10px 10px;
    text-decoration: none;
    margin: 5px;
}

.title{
    font-size: 20px;
    font-weight: bold;
}

#content{
    max-width: 490px;
    border: dotted;
}
form{
    display: flex;
    flex-direction: column;
}

.category{
    font-style: italic;
}

p{
    padding: 0 10px 10px 10px;
}
