body {
    background-color: cornflowerblue;
}

main {
    max-width: 960px;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
    background-color: aliceblue;
    flex-direction: row;
    display: flex;
    justify-content: center;
}
.container{

    width: 100px;
    height: 125px;
    position: absolute;
}

#cont1 {

    background: #ccc;

}

#cont2 {
    background-color: silver;

}

#cont3 {
    background-color: saddlebrown;

}







